// Primary Theme Colors
$color-bg-root:         #111018;
$color-bg-header:       #1c1b28;
$color-bg-feature:         #29273a;
$color-bg-cad-hover:   #3d3956;
$color-bg-table:        #111018;
$color-bg-table-head:   #1c1b28;
$color-bg-drawer:       #1c1b28;
$color-bg-drawer-back:  rgba(17, 16, 24, 0.7);

// Text Colors
$color-text-main:       #fff;
$color-text-secondary:  #9f9abc;

// Border Colors
$color-border-main:     #29273a;
$color-border-card:     #3d3956;

// Shadow
$color-shadow-drawer:   #0008;

// Accent
$color-avatar-border:   #3d3956;


$color-bg-main:         #0f1a24;
$color-bg-card:      #172736;
$color-bg-card-hover:  #2e4e6b;

$color-text-main:       #fff;
$color-text-feature:    #8daece;

$color-border-feature:    #8daece;