/* You can add global styles to this file, and also import other style files */
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

* {
  font-family: "Be Vietnam Pro", "Noto Sans", sans-serif;
}

.btn {
  min-width: 90px;
  height: 40px;
  padding: 0 16px;
  border-radius: 12px;
  font-size: 0.95rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-primary {
  background: #359dff;
  color: #0f1a24;
}

.btn-secondary {
  background: #20364b;
  color: #fff;
}